@charset "UTF-8";
/* CSS Document */


#wrapper {
	width:100%;
}

.row {
	mad-width:1000px;
}



/*-- MERCH COLLAGE ============ --*/

.header-alignment {
	display: block;
	margin:4rem auto 2rem auto;
}
.img-spacing {
	padding: 0 1em;
}
#promo-margin {
	margin-top: 12px;
}
#about-test-margin {
	margin-right: 10px;
}
#work .row .row {
	padding-bottom: 1.875rem;
}
#left-picture-spacing {
	margin-right: 0;
}
.margin-about-pictures {
	margin-bottom:10rem;
}
#wrapper .text {
	position: relative;
	bottom: 0px;
	left: 50px;
	visibility: hidden;
}
#wrapper:hover .text {
	visibility: visible;
}  

/*-- END OF MERCH COLLAGE ============ --*/
=======

/*----------
	NAV
------------*/
nav {
	width: 100%;
	}
li {
	display:inline-block;
	padding: 10px 45px;
	}
.top-bar {
	background-color: none;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: none;
}
a {
	color: #2B2B2B;
	}
.fixed {
	position:fixed;
	}
.sticky {
	width:100%;
	}
/*----------
	HERO
------------*/

/*----------
	EVENTS
------------*/
.events {
	background:url(../imgs/51_Events.jpg);
	height: 1200px;
}
.event {
  padding: 1rem 1rem 1rem 0;
  display: table; }

.event-date {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto; }
  .event-date .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center; }
  .event-date .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem; }

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top; }
  .event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0; }
  .event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0; }
  .event-desc .event-desc-time {
    font-weight: bold; }
  .event-desc .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; }